<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="alert alert-success">Products</h1>
    <div class="row">
      <div class="col-md-1"></div>
          <div class="col-md-10">
              <table class="table table-bordered border-primary">
                  <tr class="table-success">
                      <th>Id del producto</th>
                      <th>Nombre del producto</th>
                      <th>Referencia del producto</th>
                      <th>Tamaño del producto</th>
                      <th>Descripcion del producto</th>
                      <th>Imagen del producto</th>
                      <th>Categoria del producto</th>
                      <th>Precio del producto</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                  </tr>
                    <% products.map( (products) =>{%>
                      <tr class="table-warning">
                          <td><%= products.product_id %></td>
                          <td><%= products.product_name %></td>
                          <td><%= products.product_reference %></td>
                          <td><%= products.product_size %></td>
                          <td><%= products.product_description %></td>
                          <td><img src="/imgs/<%= products.product_image %>" alt="Imagen del producto" width="100" height="100"></td>
                          <td><%= products.category.category_name %></td>
                          <td><%= products.product_price %></td>
                          <td><a href="/admin/products/edit/<%= products.product_id %>" class="btn btn-success">Editar</a></td>
                          <td>
                            <form action="/admin/products/destroy/<%= products.product_id %>" method="POST">
                              <input type="submit" class="btn btn-danger" onclick="return confirm('Está Seguro?')" value = "Eliminar">
                            </form>
                          </td>
                      </tr>
                      <% }) %>
              </table>
              <a href="/admin/products/create" class="btn btn-primary">Create new product</a>
            </div>
      <div class="col-md-1"></div>
  </div>
  </body>
</html>